/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------



---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- GLOBAL STYLES ----------------------- */

:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    
    
    
    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
   font-size: 62.5%; 
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-base);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

p {
    font-size: var(--text-paragraph);
}

a {
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;
}

a:link, a:visited, a:hover, a:active {
    color: var(--grey-base);
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.small-text {
    font-size: var(--text-sm);
}


/* HEADER SECTION */
header {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(images/model2.jpg);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding-top: 1.5rem;
}

.nav-logo {
    padding-left: 6rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-right: 7rem;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.5rem;
}

/* CONTACT SECTION */
.contact-section {
    padding-bottom: 20rem;
}

/* TRIGERING STATEMENT SECTION */
.statement-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 9rem 15rem;
    max-width: 1000px;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    background-image: url(images/model2.jpg);
    background-size: cover;

}

.statement-heading {
    text-align: center;
}

.statement-button {
    padding-top: 2rem;
}

/* PRICING SECTION */
.pricing-section {
    padding-top: 10rem;
}

.pricing-investment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

