/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------



---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- GLOBAL STYLES ----------------------- */

:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --primary-base: #0d0d0d;
    --primary-tint: #141414;
    --promary-shade: #2a2a2a;

    --secondary-base: #9775fa;
    
    --tertiary-base: #ff1a1a;
    
    --white: #ffffff;

    --black: #000000; 
    
    
    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
   font-size: 62.5%; 
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    background-color: var(--primary-base);
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    color: var(--white);
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--white);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

p {
    font-size: var(--text-paragraph);
}

a {
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;
}

a:link, a:visited, a:hover, a:active {
    color: var(--grey-base);
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.small-text {
    font-size: var(--text-sm);
}




/* ------------COMPONENT RESEOURCE------------- */
.btn {
    font-size: var(--text-base);
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--tertiary-base);
    transition: 0.5s;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    color: var(--white);
    background: var(--tertiary-base);
    border: 1px solid var(--tertiary-base);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--primary-tint);
}

.btn-primary:link, .btn-primary:visited {
    color: var(--white);
    background-color: var(--tertiary-base);
    border: 1px solid var(--tertiary-base);
    transition: 0.5s;
}

.btn-primary:hover, .btn-primary:active {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--tertiary-base);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--primary-tint);
}

.btn-secondary-outline:link, .btn-secondary-outline:visited {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--tertiary-base);
    transition: 0.5s;
}

.btn-secondary-outline:hover, .btn-secondary-outline:active {
    color: var(--black);
    background: var(--tertiary-base);
    border: 1px solid var(--tertiary-base);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--primary-tint);
}

.btn-secondary:link, .btn-secondary:visited {
    color: var(--white);
    background-color: var(--tertiary-base);
    border: 1px solid var(--tertiary-base);
    transition: 0.5s;
}

.btn-secondary:hover, .btn-secondary:active {
    color: var(--white);
    background: var(--primary-tint);
    border: 1px solid var(--tertiary-base);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--primary-tint);
}


.highlight{
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.highlight-tertiary {
    background-color: var(--tertiary-base);
    opacity: 80%;
}

.highlight-text {
    color: var(--tertiary-base);
}

/* NAVIGATION + HERO SECTION */
header {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(img/closeup-ofili.png);
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.nav-logo {
    padding-left: 6rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-right: 7rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14rem;
}

.experience {
    margin-bottom: 2rem;
    padding: 1rem 5rem;
    border: 1px solid var(--tertiary-base);
    border-radius: 30px;
}

.hero-heading {
    text-align: center;
    color: var(--primary-base);
}

.hero-paragraph {
    text-align: center;
    padding-top: 1rem;
}

.hero-link {
    display: flex;
    gap: 1.5rem;
    padding-top: 1rem;
}


/* FEATURE PORTFOLIO */
.feature-section {
    margin: 5rem 0rem;
    padding: 5rem;
    border-radius: 5px;
    background-color: var(--primary-tint)
}

.feature-heading {
    text-align: center;
}

.feature-paragraph {
    text-align: center;
    padding-top: 1rem;
}

.features-grid-container {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0rem;
    column-gap: 7rem;
    justify-items: center;
    align-items: center;
}

.feature-img-swap-order {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: start;
}

/* .feature-img {
    max-width: 400px;
    width: 100%;
} */

/* TESTIMONIAL SECTION */
.testimonial-heading {
    text-align: center;
}

.testimonial-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 4rem;
}

.testimonial-item {
    background-color: var(--primary-tint);
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border: 1px solid var(--tertiary-base);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial-bold-paragraph {
    text-decoration: solid;
}

/* FOOTER SECTION */
footer {
    background-color: var(--promary-shade);
    margin-top: 10rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;
    color: var(--white);
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 10rem;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-social-link {
    display: flex;
    gap: 15px;
}

.footer-quick-link {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-service {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-logo {
    width: 50px;
}

.footer-copyright{
    text-align: center;
    letter-spacing: 1.9px;
    margin-top: 5rem;
}

/* WA floater */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.float-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}




















